body {
  background-color: #fafafa;
}

.poem__body,
.letter {
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
}

.card-title {
  font-family: 'Alegreya', serif;
  font-size: 30px;
  font-weight: 700;
}

.card_poem,
.card_letter {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  padding-left: 15px;
  padding-right: 15px;
  background-clip: border-box;
  border-radius: 0;
}
.card_poem {
  border-bottom: 5px solid #32d17e;
}

.card_letter {
  border-bottom: 5px solid #f65314;
}

.long_line {
  padding-bottom: 1px;
}

.letter {
  padding-top: 50px;
}

.letter p {
  padding-bottom: 1px;
  padding-top: 1px;
}
