.dp__hero-text {
  font-family: "Libre Baskerville", serif;
  font-size: 1.5em;
  line-height: 1em;
  padding-bottom: 1rem;
}

.dp__Container {
  margin: 0 auto;
  width: 1200px;
}

.dp__herodiv {
  margin: 0 auto;
}
